$primary: #212529;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #000000;
$white: #fdfdfd;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

$body-bg: $white;
$body-color: $primary;
$navbar-bg: $light;
$navbar-color: $primary;
$dropdown-link-active-bg: $primary;
$dropdown-link-active-color: $light;

$btn-border-radius: 0.20rem;
$btn-border-radius-sm: 0.20rem;
$btn-border-radius-lg: 0.20rem;

@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --primary-dark: #ff6f91;
  --primary-dark-hover: #ff6f91;
  --primary-dark-active: #d72660;
  --primary-dark-rgb: 255, 111, 145;
  --body-dark: #3d444d;
  --element-bg-dark: #343a40;
  --body-dark-color: #ff6f91;
}

[data-bs-theme='light'] {
  .navbar {
    background-color: $light;
  }
}

[data-bs-theme='dark'] {
  --bs-primary: var(--primary-dark);
  --bs-body-color: var(--body-dark-color);
  --bs-primary-rgb: var(--primary-dark-rgb);
  --bs-body-bg: var(--body-dark);
  --bs-body-color: var(--body-dark-color);
  --bs-navbar-bg: var(--element-bg-dark);
  --bs-navbar-color: var(--primary-dark);
  --bs-dark-rgb: var(--primary-dark-rgb);
  --bs-dropdown-link-active-bg: var(--primary-dark);

  .border-bottom {
    border-color: var(--primary-dark-rgb);;
  }

  .navbar {
    --bs-navbar-bg: var(--element-bg-dark);
    --bs-navbar-color: var(--primary-dark);
    
    background-color: var(--bs-navbar-bg);

    .nav-link.active,.nav-link.show {
      color: var(--primary-dark-active);
    }

    .nav-link:focus, .nav-link:hover {
      color: var(--primary-dark-hover);
    }
  }


  .navbar-brand, .navbar-brand:focus, .navbar-brand:hover {
    --bs-navbar-brand-color: var(--primary-dark-active);
  }

  .dropdown-item.active,
  .dropdown-item:active {
    --bs-dropdown-link-active-bg: var(--primary-dark-active);
  }

  .btn-primary {
    --bs-btn-bg: var(--primary-dark);
    --bs-btn-border-color: var(--primary-dark);
    --bs-btn-hover-bg: var(--primary-dark-hover);
    --bs-btn-hover-border-color: var(--primary-dark-hover);
    --bs-btn-active-bg: var(--primary-dark-active);
    --bs-btn-active-border-color: var(--primary-dark-active);
  }

  .btn-outline-primary {
    --bs-btn-color: var(--primary-dark);
    --bs-btn-border-color: var(--primary-dark);
    --bs-btn-hover-bg: var(--primary-dark);
    --bs-btn-hover-border-color: var(--primary-dark);
  }
}

